# Ansible
*.retry
.vault_pass
vault-passwords/*.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Certificates
environments/certificates/*.key
environments/certificates/*.pem

# Logs
*.log
logs/
